/* .bars {
    float: right; 
    text-indent: 100px; 
    font-size: 100%; 
}
.container-n {
    width: 300px;
    margin: auto; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  

 */
